<div *ngFor="let product of products" class="product-panel">
  <h2>{{ product }} Releases</h2>
  <input type="text" [placeholder]="'Filter ' + product + ' releases'" [(ngModel)]="filterText[product]" (input)="filterReleases(product)">
  <div *ngIf="productReleases[product]">
    <app-release-item *ngFor="let release of filteredReleases[product]" [product]="product" [products]="products" [release]="release" class="release-item">
    </app-release-item>
  </div>
  <div *ngIf="!productReleases[product]">
    Loading releases...
  </div>
</div>
